html {
    width: 900px;
    text-align: center;
}
#logo {
    display: flex;  
    margin-top: 3%;
}
.lo {
    display: flex;
}
#lo2 {
    color: #F6B400;
}
.order #order1 button {
    background-color: #F6B400;
}

#navbar ul {
    display: flex;
    background-color: #F6B400;
    justify-content: flex-end;
    list-style: none;
    justify-content: space-evenly;
    margin-bottom: 5%;
    margin-left: 40%;
}
#navbar {  
    margin-top: 0%;
    margin-bottom: 5%;
}
#order2  {
    background-color: #F6B400;
    left: -50;
    height: 300px;
    width: 50%;
    border-right: solid #F6B400;
    border-width: 130px;
}
.order {
    margin-bottom: 4%%;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}
.first {
    margin-top: 5%;
}
.second {
display: flex;
margin-top: 0%;
height: 350px;
background-color: #E1EBE6;
}
.menu {
    display: flex;
    text-align: center;
    margin-left: 45%;
}
#menu {
    color: #F6B400;
}
.second #quality {
    border: solid black;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    margin: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 5px;
}
.second #fast {
    border: solid black;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    margin: 10px;
    padding: 5px;
}
.second #delicious {
    border: solid black;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    margin: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 5px;
}
.third h1 {
    text-align: center;
}
.one {
    display: flex;

}
.two {
    display: flex;
}
#double1 {
    border: solid black;
    border-radius: 20px;
    box-shadow: 2px 4px;
    text-align: center;
    margin: 10px;
    }
    #double2 {
        border: solid black;
        border-radius: 20px;
        box-shadow: 2px 4px;
        text-align: center;
        margin: 10px;
    }
    #double3 {
        border: solid black;
        border-radius: 20px;
        box-shadow: 2px 4px;
        text-align: center;
        margin: 10px;
    }
    #double4 {
        border: solid black;
        border-radius: 20px;
        box-shadow: 2px 4px;
        text-align: center;
        margin: 10px;
    }
    #double5 {
        border: solid black;
        border-radius: 20px;
        text-align: center;
        margin: 10px;
        box-shadow: 2px 4px;
    }
    #double6 {
        border: solid black;
        border-radius: 20px;
        box-shadow: 2px 4px;
        text-align: center;
        margin: 10px; 
    }
    .fourth {
        display: flex;
        background-color: #E1EBE6;
    }
    #some {
    margin: 10%;
    text-align: center;
    
    }
    .fourth img {
        margin-left: 11%;
        margin-top: 5%;
    }
   