html {
    width: 900px;
    text-align: center;
}
#logo {
    display: flex;  
    margin-top: 3%;
}
.lo {
    display: flex;
}
#lo2 {
    color: #F6B400;
}
.order #order1 button {
    background-color: #F6B400;
}

#navbar ul {
    display: flex;
    background-color: #F6B400;
    justify-content: flex-end;
    list-style: none;
    justify-content: space-evenly;
    margin-bottom: 5%;
    margin-left: 40%;
}